{% extends 'base.html.twig' %}

{% block title %}Tasks index{% endblock %}

{% block body %}
    <h1>Tasks index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Task_title</th>
                <th>Task_description</th>
                <th>Task_due_date</th>
                <th>Task_create_at</th>
                <th>Task_lastchange</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.taskTitle }}</td>
                <td>{{ task.taskDescription }}</td>
                <td>{{ task.taskDueDate ? task.taskDueDate|date('Y-m-d') : '' }}</td>
                <td>{{ task.taskCreateAt ? task.taskCreateAt|date('Y-m-d') : '' }}</td>
                <td>{{ task.taskLastchange ? task.taskLastchange|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_tasks_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('app_tasks_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tasks_new') }}">Create new</a>
{% endblock %}
