{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <h1>Tasks</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Task_title</th>
                <td>{{ task.taskTitle }}</td>
            </tr>
            <tr>
                <th>Task_description</th>
                <td>{{ task.taskDescription }}</td>
            </tr>
            <tr>
                <th>Task_due_date</th>
                <td>{{ task.taskDueDate ? task.taskDueDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Task_create_at</th>
                <td>{{ task.taskCreateAt ? task.taskCreateAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Task_lastchange</th>
                <td>{{ task.taskLastchange ? task.taskLastchange|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tasks_index') }}">back to list</a>

    <a href="{{ path('app_tasks_edit', {'id': task.id}) }}">edit</a>

    {{ include('tasks/_delete_form.html.twig') }}
{% endblock %}
