{% extends 'base.html.twig' %}

{% block title %}Th index{% endblock %}

{% block body %}
    <h1>Th index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Th_change_log</th>
                <th>Th_updateat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for th in ths %}
            <tr>
                <td>{{ th.id }}</td>
                <td>{{ th.thChangeLog }}</td>
                <td>{{ th.thUpdateat ? th.thUpdateat|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_th_show', {'id': th.id}) }}">show</a>
                    <a href="{{ path('app_th_edit', {'id': th.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_th_new') }}">Create new</a>
{% endblock %}
