{% extends 'security/login_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="login-wrapper">
    <div class="card">
        <div class="card2">
            <form method="post" class="form">

                <h1 id="heading">Create your account</h1>

                {# Affichage des erreurs éventuelles #}
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div style="color: #ff6b6b; font-size: 14px; text-align: center;">
                        {{ flash_error }}
                    </div>
                {% endfor %}

                {# Champs du formulaire d'inscription #}
                <div class="field">
                    <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2 5a2 2 0 012-2h12a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm2 0v10h12V5H4zm3 2a1 1 0 100 2h6a1 1 0 100-2H7z" />
                    </svg>
                    {{ form_row(registrationForm.email, {'attr': {'class': 'input-field', 'placeholder': 'Email'}}) }}
                </div>

                <div class="field">
                    <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5 8a5 5 0 1110 0v2a2 2 0 012 2v4a2 2 0 01-2 2H5a2 2 0 01-2-2v-4a2 2 0 012-2V8zm8 0a3 3 0 00-6 0v2h6V8z" clip-rule="evenodd" />
                    </svg>
                    {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'input-field', 'placeholder': 'Password'}}) }}
                </div>

                <div class="field" style="justify-content: flex-start;">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>

                <div class="btn" style="justify-content: center; gap: 1em; margin-top: 2em;">
                    <button type="submit" class="button">Register</button>
                    <a href="{{ path('app_login') }}" class="button">Login</a>
                </div>        

                {{ form_rest(registrationForm) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
